*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

header{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 1em;
	min-height: 4.4em;
	background-color: #fff;
	z-index: 10;
}

.sty_logo{
	display: grid;
	justify-content: start;
	align-content: center;
	padding-left: 2em;
}

.sty_nav{
	display: grid;
	grid-auto-flow: column;
	grid-gap:2em;
	justify-content: end;
	align-content: center;
	margin-right: 2em;
}

.sty_nav a{
	text-decoration: none;
	font-weight: 600;
	font-size: 0.87em;
	color: #7b8b8e;
}

.sty_nav a:hover{
	color: #4b5658;
}

.sty_green{
	color:rgb(95, 207, 128);
	font-weight: 600;
	font-size: 0.87em;
	cursor: pointer;
}

.sty_green:hover{
	color: rgb(77, 193, 111);
}

body{
	background-image: linear-gradient(to bottom, rgba(48,56,83,0) 40%, #303853 60%, #303853 100%),url('pictures/back.jpg');
    background-position-x: 100%, 100%;
    background-position-y: 0px, -200px;
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-color: #303853;
    background-attachment: fixed, fixed;
}

.section{
	margin-top: 4.4em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 3em 1.5em;
 }

 .sty_left{
 	display: grid;
 	justify-content: center;
 	align-content: center;
 	color: #fff;
 }

 .sty_left h1{
 	font-size: 2.25em;
 	margin-bottom: 0.8em;
 }

 .sty_left h2{
 	font-size: 1.7em;
 	font-weight: 400;
 	margin-bottom: 1em;
 }

 .sty_right{
 	display: grid;
 	justify-content: center;
 	align-content: center;
 }

 .heading{
 	background-color: #edeff0;
 	font-size: 1em;
 	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
 	padding: 1.3em;
 	text-align: center;
 	color: rgb(64,72,74);
 }

.sty_form{
	background-color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0.8em;
	grid-row-gap: 1.2em;
	padding: 2em 1.7em;
}

input[type="text"],input[type="email"],input[type="password"]
{
	padding: 0.8em;
	border-radius: 0.3em;
	font-size: 1em;
	background-color: rgb(249,250,250);
	border:2px solid rgb(212,217,221);
	margin-top: 0.5em;
	width: 14.5em;
}

input[type="text"]:hover,input[type="email"]:hover,input[type="password"]:hover{
	border:2px solid #7b8b8e;
}

.sty_form label{
	color: rgb(64,73,74);
}

.sty_cb{
	background-color: #fff;
	padding: 2em;
	padding-top: 0;
}

.sty_cb label{
	font-size: 0.87em;
	border-bottom: 1.5px solid rgb(242,242,242);
	color: rgb(75,86,88);
	padding-bottom: 1.5em;
	padding-right: 5.5em;
}

.sty_submit{
	background-color: #fff;
	padding: 1em;
	text-align: center;
	padding-bottom: 2em;
}

input[type="submit"]{
	background: rgb(56,123,171);
	font-size: 1em;
	text-align: center;
	width: 33em;
	border-radius: 4px;
	color: #fff;
	padding:0.85em 1em;
	border: 2px solid rgb(56,123,171);
	font-weight: bold;
}

input[type="submit"]:hover{
	background: rgb(42,93,129);
	border: 2px solid rgb(42,93,129);
}

.sty_bottom{
	display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    grid-column: 1/3;
    grid-gap: 3em;
    margin-top: 3em;
    text-align: center;
}

.sty_num{
	font-size: 2.25em;
	color: #fff;
	
}

.sty_alpha{
	font-size: 1.1em;
	color: #fff;
	font-weight: 400;
}

article{
	background-color: #f9fafa;
}

.sty_art1{
	background-image: url('pictures/back2.png');
	background-repeat: no-repeat;
	background-size: contain;
	display: grid;
	grid-template-columns: 1.8fr 1fr;
	padding: 5em 2em;
	grid-gap: 4em;
	border-bottom: 1px solid rgb(222,222,222);
}

video{
	width: 100%;
	height: 100%;
	max-height: 25em;
	border-radius: 0.3em;
}

h4{
	color: rgb(56, 64, 71);
	font-size: 1.75em;
}

.sty_text{
	color: rgb(123, 139, 142);
	font-size: 1em;
	font-weight: 400;
	margin-top: 0.7em;
	line-height: 1.6em;
}

.sty_art2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10em;
	padding: 5em 2em;
}

.sty_img{
	padding: 2em;
	text-align: center;
}

.sty_partner h3{
	font-size: 2.3em;
	font-weight: lighter;
	text-align: center;
	padding-bottom: 2em;
}

.sty_logs{
	display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    grid-column: 1/3;
    grid-gap: 2em;
    text-align: center;
    padding-bottom: 5em;
}

section{
	background-image: url('pictures/back3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5em 0;
	text-align: center;
}

section h3{
	color: #fff;
	font-size: 2.3em;
	line-height: 46.8px;
	font-weight: 500;
	margin: 0.4em 0;
}

section p{
	color: #fff;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 1.25em;
	line-height: 32px;
	font-weight: 400;
}

input[type="button"]{
	font-size: 1em;
	color: #fff;
	border-radius: 0.3em;
	padding: 0 2em;
	background-color: rgb(95, 207, 128);
	border: 2px solid rgb(95, 207, 128);
	height: 3.25em;
	font-weight: 500;
}

input[type="button"]:hover{
	background-color: rgb(52, 173, 88);
	border: 2px solid rgb(52, 173, 88);
}

footer{
	background-color: #fff;
	padding: 5em 1em;
	display: grid;
	grid-auto-flow: column;
}

footer div{
	padding: 0px 15px;
}

.sty_copy p{
	line-height: 1.25em;
	color: rgb(87, 99, 102);
	font-size: 0.875em;
	padding-bottom: 2em;
}

ul li{
	list-style: none;
}

ul li a{
	text-decoration: none;
	font-size: 1em;
	color: rgb(123, 139, 142);
	line-height: 25.6px;
}

ul li a:hover{
	color: rgb(110, 125, 127);
}

.sty_links{
	padding-bottom: 2em;
}

.sty_icon img{
	cursor : pointer;
}

.sty_icon img:hover{
	fill: rgb(95, 207, 128);
}

@media (max-width: 62em){
	header{
	display:grid;
	grid-template-columns: 1fr;
    }
	.sty_left,.sty_right,.sty_div,.sty_sv{
		grid-column: 1/3;
	}
	.sty_logs img{
		grid-column: 1/5;
	}
	footer div{
		grid-column: 1/3;
	}
}

@media (max-width: 40em){
	.sty_fe{
		grid-column: 1/3;
	}
	input[type="submit"]{
		width:15em;
	}
	input[type="text"],input[type="email"],input[type="password"]{
		width:10em;
	}
}

@media (max-width: 30em){
	.sty_info{
		grid-column: 1/5;
	}
}

